Repository e1uone/resume-nuxt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["eslint --quiet --fix"],
  "*.{json,js,ts,jsx,tsx,html,vue}": ["prettier --write --ignore-unknown"]
}

chore: test lint-staged
  src/components/SectionLabel.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: change package name; chore: disable debug template;
  package.json
  src/components/document-template/DocumentTemplate.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: lock node version
  .nvmrc
Due: none

chore: remov unused lint-staged config
  package.json
Due: prettier --write --ignore-unknown

fix: add husky dev dep; chore: add .gitattrubutes
  .gitattributes
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: remove unused lines from husky pre-commit hook
  .husky/pre-commit
Due: none

chore: remove docx boilerplate code
  src/components/FormActions.vue
  src/components/ResumeForm.vue
  src/types/formActionType.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: resolve theme toggle functionality
  src/components/AppHeader.vue
  src/components/KCGLogo.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(ResumeForm): implement autosave functionality;
  src/components/ResumeForm.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(ui): increase theme toggle icon size;
  src/components/AppHeader.vue
  src/components/icons/Dark.vue
  src/components/icons/Light.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: resolve radio button & checkbox group label spacing;
  src/components/FormCheckboxGroup.vue
  src/components/FormRadioButtonGroup.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(Work Experience): improve work experience section;
  src/components/FormGeneralQuestionsSection.vue
  src/components/FormWorkExperienceSection.vue
  src/constants/resumeFormInitialValues.ts
  src/constants/workExperienceDefault.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(Form Program Skills Section): improve dark/light mode;
  src/components/FormProgramSkillsSection.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix (checkbox / radiogroup): change label font size to default one;
  src/components/FormCheckboxGroup.vue
  src/components/FormRadioButtonGroup.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: improve date & email validation;
  src/constants/resumeFormSchema.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(Header): add ability for header to hide/show itself on scroll;
  src/components/AppHeader.vue
  src/components/AppLayout.vue
  src/composables/useScrollHide.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(SkillCard): better dark mode colors;
  src/components/SkillCard.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(Checkbox Group, Radio Button Group): better adjust description size
  src/components/FormCheckboxGroup.vue
  src/components/FormRadioButtonGroup.vue
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: new event bus composable; feat: maska integration; fix: resolve date validator issues; refactor: minor refactoring;
  README.md
  package.json
  src/components/FormCandidateDataSection.vue
  src/components/FormInput.vue
  src/components/ResumeForm.vue
  src/components/document-template/DocumentHeaderSection.vue
  src/composables/useEventBus.ts
  src/constants/acceptedImageMimeTypes.ts
  src/constants/debugInitialValues.ts
  src/constants/resumeFormSchema.ts
  src/plugins/maska.ts
  src/utils/validators.ts
  yarn.lock
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add many new validators & masks; refactor: minor refactoring;
  src/components/FormCheckboxGroup.vue
  src/components/FormEducationSection.vue
  src/components/FormFamilyMembersSection.vue
  src/components/FormInput.vue
  src/components/FormPersonalDataSection.vue
  src/components/FormRadioButtonGroup.vue
  src/components/FormWorkExperienceSection.vue
  src/constants/resumeFormSchema.ts
  src/utils/validators.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: properly handle phone number in pdf template;
  src/components/document-template/DocumentFamilyMembersSection.vue
  src/components/document-template/DocumentHeaderSection.vue
  src/utils/formatPhoneNumber.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: resolve yarn issue;
  yarn.lock
Due: none

chore: update dependencies; feat: new readme;
  README.md
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown
